body {
	margin: 0 auto;
	width: 400px;
	text-align: center;
}

h1 {
	color:blue;
}

h3 {
	display: block;
	font-weight: normal;
}

.hidden {
	display: none;
}


#table {
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	display: table;
	margin: 0 auto;
}

.row {
	display: table-row;
	height: 30px;
    text-align: center;
}

.cell {
	display: table-cell;
	padding-top: 5px;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;
	width: 80px;
}

img {
	width: 15px; 
	height: 15px;
	padding-top: 6px;
}

.notification {
	color: red;
	padding-bottom: 6px;
}